@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body{
    box-sizing: border-box;
    font-family: 'Play Fair', serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
    overflow-y: scroll;
}
h1{
    font-size: 2rem;
    font-weight: 700;
}
h2{
    font-size: 1.75rem;
    font-weight: 700;
}
@media only screen and (max-width: 576px){
   
}
@media only screen and (max-width: 768px){
    
}
@media only screen and (max-width: 1024px){
    html{
        font-size: 14px;
    }
}

@media only screen and (min-width: 1408px){
    html{
        font-size: 18px;
    }
}

